body {
	width: 100vw;
	height: 100vh;
	padding: 5px;
	margin: auto;
}

.App {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

nav {
	display: flex;
	justify-content: space-around;
}

img {
	border-radius: 50%;
	width: 20%;
}
